.container {
    max-width: 1280px;
    margin: 0 auto;
}

.swiper {
    padding-bottom: 35px;
    padding-inline: 25px;
}

.swiper-pagination-bullet {
    background-color: #838383;
}

.swiper-pagination-bullet-active {
    background-color: #303030;
}


.swiper-button-prev,
.swiper-button-next {
    display: none !important;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #005CFF;
    font-size: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    padding: 9px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
}

.swiper-button-next {
    right: 0 !important;
}

.swiper-button-prev {
    left: 0 !important;
}

.swiper-button-next::after {
    margin-top: 3px;
    margin-left: 1px;
    content: url(./assets/images/icons/right-arrow.svg);
    align-items: center;
    display: flex;
    justify-content: center;
}

.swiper-button-prev::after {
    margin-top: 2px;
    content: url(./assets/images/icons/left-arrow.svg);
    align-items: center;
    display: flex;
    justify-content: center;
}

.swiper-button-prev svg,
.swiper-button-next svg {
    display: none;
}

@media screen and (min-width: 768px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: flex !important;
        /* ou 'block', dependendo do seu estilo */
    }
}

@media screen and (max-width: 1280px) {
    .swiper {
        padding-inline: 15px;
    }

    .swiper-button-next {
        right: 10px !important;
    }

    .swiper-button-prev {
        left: 10px !important;
    }
}